### tuple
- immutable(不可變的變數)
- Sequence(串列資料)
- iterable(可重覆讀取)
- 拆解法
- 用括號符號()建立
- typehint(tuple)

In [1]:
#拆解法
name, age = "robert", 45
print(name)
print(age)

robert
45

### list
- mutable(可變的變數)
- Sequence(串列資料)
- iterable(可重覆讀取)
- 用中括號符號[]來建立
- typehint(list)

In [3]:
#建立list
weekdays = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日'] 
type(weekdays)

list

In [7]:
#取出元素和修改元素
#使用[index]
weekdays[0]
weekdays[1]
weekdays[-2]
weekdays[-1]

'星期日'

In [12]:
#[slice]
#[起始(包含):結束(不包含)]

weekdays[0:3]
weekdays[-3:-1]
weekdays[-3:] #取最後3個
weekdays[:3] #取前3個

['星期一', '星期二', '星期三']

In [13]:
for day in weekdays:
    print(day)

星期一
星期二
星期三
星期四
星期五
星期六
星期日

### dict
- mutable(可變的變數)
- Mapping(mapping資料)
- iterable(可重覆讀取)
- 用大括號符號{key:value}來建立
- typehint(dict)

In [14]:
codes = {"tw":"Taiwan", "jp":"Japan", "hk":"Hong Kong"}
codes

{'tw': 'Taiwan', 'jp': 'Japan', 'hk': 'Hong Kong'}

In [15]:
codes['tw']

'Taiwan'

In [19]:
for key in codes:
    print(key)
    print(codes[key])
    print("======")

tw
Taiwan
======
jp
Japan
======
hk
Hong Kong
======

### set
- 元素不可以重覆
- 符號建立方式大括號{}

In [20]:
#set
citys = {'台北','台中','高雄','台北','台中','高雄'}
citys

{'台中', '台北', '高雄'}