In [2]:
import numpy as np
import pandas as pd

data = {
    'apples': [3, 2, 0, 1],
    'oranges': [0, 3, 7, 2]
}

pd.DataFrame(data,index=["第1","第2","第3","第4"])

    apples  oranges
第1       3        0
第2       2        3
第3       0        7
第4       1        2

In [8]:
data = np.random.randint(50, 101,size=(5,5))
df = pd.DataFrame(data,
            index=["學生1","學生2","學生3","學生4","學生5"],
            columns=["國文","英文","數學","地理","歷史"])
df

     國文  英文  數學  地理  歷史
學生1  74  95  92  52  89
學生2  53  79  69  93  80
學生3  85  90  92  56  96
學生4  99  79  57  66  87
學生5  98  67  55  98  90