### tuple
- 不可變變數(immutable)
- 串列資料(Sequence)->有順序的資料
- 由符號建立(xxx, xxx, xxxx)

In [6]:
weekdays:tuple[str] = ('星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日')
weekdays

('星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日')

In [7]:
#透過索引編號取得元素
weekdays[0]
weekdays[1]
weekdays[6]

'星期日'

### tuple是串列資料(Sequence)

In [8]:
for day in weekdays:
    print(day)

星期一
星期二
星期三
星期四
星期五
星期六
星期日

### tuple最常的操作方法->拆解法

In [12]:
#將tuple拆解給變數
(name, age, scores) = ('robert', 35, 345)
name
age
scores

345

In [13]:
#小括號可以省略
name, age, scores = 'robert', 35, 345

In [16]:
#快速顯示多個變數
name, age, scores

('robert', 35, 345)