https://www.perplexity.ai/search/11c131c7-b2f1-44c7-bbcc-080db58fe95e

In [ ]:
#多階層的Series
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data.index.names = ('key1','key2')
data

key1  key2
a     1       0.120145
      2      -0.554349
      3       0.025580
b     1       1.720831
      2      -1.238331
c     3       0.033467
      1       1.272641
d     2      -0.161041
      3      -1.738818
dtype: float64

In [10]:
data.unstack(level='key1',fill_value=0)

key1         a         b         c         d
key2
1     0.120145  1.720831  1.272641  0.000000
2    -0.554349 -1.238331  0.000000 -0.161041
3     0.025580  0.000000  0.033467 -1.738818

In [16]:
#多階層的DataFrame
import numpy as np
import pandas as pd

df = pd.DataFrame(np.arange(12).reshape((4,3)),
                  index=[['a','a','b','b'],[1, 2, 1, 2]],
                  columns=[['台北','台北','台中'],['Green','Red','Green']])
df.index.names=['key1','key2']
df.columns.names = ['縣市',"顏色"]
df

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [20]:
df1 = df.stack(level=['縣市','顏色'],future_stack=True)
df1

key1  key2  縣市  顏色
a     1     台北  Green     0
                Red       1
            台中  Green     2
      2     台北  Green     3
                Red       4
            台中  Green     5
b     1     台北  Green     6
                Red       7
            台中  Green     8
      2     台北  Green     9
                Red      10
            台中  Green    11
dtype: int64

In [23]:
df1.unstack(level=['key1','縣市','key2'],fill_value=0)

key1   a           b
縣市    台北 台中 台北 台中 台北 台中  台北  台中
key2   1  1  2  2  1  1   2   2
顏色
Green  0  2  3  5  6  8   9  11
Red    1  0  4  0  7  0  10   0