https://www.perplexity.ai/search/11c131c7-b2f1-44c7-bbcc-080db58fe95e

In [7]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data.index.names = ('key1','key2')
data

key1  key2
a     1       0.120145
      2      -0.554349
      3       0.025580
b     1       1.720831
      2      -1.238331
c     3       0.033467
      1       1.272641
d     2      -0.161041
      3      -1.738818
dtype: float64

In [9]:
data.unstack(level='key1')

key1         a         b         c         d
key2
1     0.120145  1.720831  1.272641       NaN
2    -0.554349 -1.238331       NaN -0.161041
3     0.025580       NaN  0.033467 -1.738818