In [1]:
from dataclasses import dataclass

@dataclass
class Student:
    name:str
    chinese:int
    english:int
    math:int

In [3]:
stu1 = Student(name='robert',chinese=89, english=78, math=92)
print(type(stu1))
stu1.name, stu1.chinese, stu1.english, stu1.math

<class '__main__.Student'>

('robert', 89, 78, 92)

In [4]:
stu2 = Student(name='jenny',chinese=76, english=87, math=89)
print(type(stu2))
stu2.name, stu2.chinese, stu2.english, stu2.math

<class '__main__.Student'>

('jenny', 76, 87, 89)